<footer class="footer page-footer font-small bg-info text-white blue pt-4 mt-0">
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a class="text-body footer-block" href="/"> Guest.com</a>
    </div>            
</footer>