<div class="container-fluid bg-info d-none d-lg-block" style="padding-top: 1%; padding-bottom: 1%;">
    <span class="ml-5 text-white"><i class="fa fa-phone" aria-hidden="true"></i> Call Us On : 91-9229652038</span>

    <div class="social-links float-right mr-3" style="width: 30%;">
        <a href="www.facebook.com" class="fa fa-facebook float-right"></a>
        <a href="#" class="fa fa-twitter float-right"></a>
        <a href="#" class="fa fa-instagram float-right"></a>
        <a href="#" class="fa fa-linkedin float-right"></a>
    </div>
</div>